
node_modules/
**/node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local
**/.env.example
**/.env.development.local
**/.env.test.local
**/.env.production.local

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
desktop.ini

coverage/
.nyc_output/